[submodule "tools/yscope-dev-utils"]
	path = tools/yscope-dev-utils
	url = https://github.com/y-scope/yscope-dev-utils.git
[submodule "components_new/asv"]
	path = components_new/asv
	url = https://github.com/vishalpalaniappan/automated-system-viewer.git
[submodule "components_new/dlv"]
	path = components_new/dlv
	url = https://github.com/vishalpalaniappan/diagnostic-log-viewer.git
